{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 3
            }
        ],
        "@babel/plugin-syntax-dynamic-import",// 支持import写法
        // "@babel/plugin-transform-react-jsx" // 转换react
    ]
}
